/* Vanilla overrides */
h2 {
  margin-bottom: 1.3rem;
}

div + h2, p + h2, ul + h2 {
  padding-top: 1.2rem;
}

h3 {
  margin-bottom: .9rem;
}

div + h3, p + h3, ul + h3 {
  padding-top: 1.1rem;
}

h4 {
  margin-bottom: 0;
}

div + h4, p + h4, ul + h4 {
  padding-top: .55rem;
}

p, ul, li, pre, code, .p-notification, .p-notification--caution, .p-notification--information,
.p-notification--negative, .p-notification--positive, .p-notification--warning {
  max-width: 60rem;
}

pre {
  font-size: .875rem;
  margin-bottom: 1rem;
}

img:not(.p-navigation__image) {
  border: 1px solid #cdcdcd;
  margin: .5rem 0;
}
/* --- */

/* Backwards compatibility for docs with no nav logo */
.p-navigation__logo {
  align-items: center;
}

.p-navigation__logo .p-navigation__link {
  align-items: center;
}

.p-navigation__logo h4 {
  font-size: 1.30612rem;
  font-weight: 300;
  margin: 0 .5rem;
}
/* --- */

/* Custom navigation colours */

/* --- */
